PORT=3001
NODE_ENV=development
DATABASE_URL=postgresql://neondb_owner:npg_I2UgFDM3ASWT@ep-rough-mud-aiw11rni-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


CLERK_PUBLISHABLE_KEY=pk_test_bWVldC1wYW5nb2xpbi02NS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_OcGEkS1dGXJVGXsoNRh0Mylz5UN6H53yYp5QFzeIt8

SENTRY_DSN=https://dc7a6e48e7ae31c21f0cc948437b7b8c@o4511578869006336.ingest.us.sentry.io/4511578879361024


STREAM_API_KEY=39upbdpc2w9u
STREAM_API_SECRET=k27pg56zvrxbus2479qngw7jxdj49534s4g2tjb2dk4xs25bq3c5me5z6trab4hz

IMAGEKIT_PUBLIC_KEY=public_vXe7ktDquOOVKuTcY6Khpmdff9g=
IMAGEKIT_PRIVATE_KEY=private_tdZz6exbgD8XaV4C0hmuHgekZPo=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/u4skpelai